.page-header{
    font-family: Montserrat;
    font-size : 30px
}
.title-header{
    font-family: 'JetBrains Mono',monospace;
    text-decoration: underline blue;
}
.paragraph{
    width : 500px;
    padding: 10px;
    border: 2px solid black;
    margin: 0;
}
